// COLORS 


// ===========================  PRIMARY COLOR =========================== //


$black-col : black;
$fauve-col : rgb(204,159,38);
$jungle-col : #00534e;
$vert-col : rgb(151,169,38);
$grey-col : rgb(157,149,148);
$kiwi-col : rgb(219,226,0);
$bleuvert-col : rgb(0,131,138);

$jungle-col-10 : rgb(232, 238, 239);



// ===========================  10% COLOR =========================== //

$jungle-col-10 : rgb(232, 238, 239);




// ===========================  OTHER COLOR =========================== //

