body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}


footer {
    @include laptopS {
        display: flex;
    }

    padding-top : $dCol;
    padding-bottom : $dCol;

    width: 100vw;

    @include laptopS {
        width: calc(100vw - 77px);
    }

}


.devise {
    display: none;
    height: 110px;
    position: relative;
    margin-left: $m-margin-small;

    @include laptopS {
        position: fixed;
        top: $margin;
        left: $margin;
    }

}


.deviseOff {
    display: none;

    @include laptopS {
        display: none;
    }

}

.deviseOn {
    display: none;

    @include laptopS {
        display: block;
    }

}


.left-container {
    padding-left: $m-margin-small;

    @include laptopS {

        padding-left: $margin;
        width: 43.4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .credits {
        display: none;

        @include laptopS {
            display: block;
        }

        @include footer-legend;
        color : $grey-col
    }

    .logoWrapper {
        display: flex;
        align-items: flex-end;

        .logo-categorie {
            margin-top: $dCol;

            @include laptopS {
                margin-top: 0;
                margin-bottom: 0;
            }

            height: 100px;
        }

        .socialsButtonsWrapper {
            padding-left: 20px;

            .logo-ig {

                height: 30px;
            }

            .logo-in {
                height: 30px;
            }
        }
    }
}




.right-container {
    @include laptopS {
        width: 56.6%;
    }

    @include footer-p;
    color : $jungle-col;

    .contact-container {
        @include footer-p-bold;
        padding-left: $m-margin-small;
        margin-top: $dCol;

        @include laptopS {
            padding-left: 0;
            margin-top: 0;
        }
    }

    .adress-container {
        padding-left: $m-margin-small;

        @include laptopS {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: $dCol;
        padding-left: 0;


        .adresse-bold {
            @include footer-p-bold
        }
    }

    .legal {
        padding-left: $m-margin-small;
        padding-right: $m-margin-small;

        @include laptopS {
            padding-left: 0;
        }

        @include footer-legend;
        color : $grey-col
    }
}