.projetsContainer {
    background-color: white;
    padding-left: $margin;
    padding-bottom: $dCol;
    padding-top: $dCol;



    .headerProjets {
        display: flex;
        justify-content: space-between;

        .logoHeader {
            display: flex;

            .logoArchiveExplo {
                height: 45px;
                margin-right: 20px;
                margin-bottom : $dCol;
            }

            .projPageName {
                @include title_h1;
                color: $jungle-col;
            }
        }

    }

}
    .projetsGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $dCol;


        .lfLogo {
            display: none;
        }

        a {
            @include p-intro-bold;
            text-decoration: none;
            color: $grey-col
        }

        .thumbnailProjet:nth-child(odd) {
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;
            }

        }

        .thumbnailProjet:nth-child(even) {
            overflow: hidden;
            width: 100%;
            height: 500px;

            img {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;
            }

        }



    }





