.headerExploration {
    display: flex;
    justify-content: space-between;

    .logoHeader {
        display: flex;

        .logoArchiveExplo {
            height: 45px;
            margin-right: 20px;
            margin-bottom: $dCol;
        }

        .exploPageName {
            @include title_h1;
            color: $jungle-col;
        }
    }

    .categoryHeader {
        .catName {
            @include p-bold;
            color: $jungle-col
        }

    }


}

.explorationsContainer {
    background-color: white;
    padding-left: $dCol;
    padding-bottom: $dCol;
    padding-top: $dCol;

    .preExplorationWrapper {
        background-color: $black-col-5;
        padding: $dCol;
        margin-bottom: $dCol;

    }

    .explorationWrapper {
        background-color: white;
        display: flex;
        height: 390px;

        a {
            display: flex;

        }

        .taxThumbnailWrapper {
            display: flex;
            width: 40%;

            .taxExplo {
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: $dCol;
                

                width: 35%;
                @include p-very-small;
                color : $grey-col;

                a {
                    color: $grey-col;

                }

            }
        }
    }


    .titleExplo {
        @include p-bold;
        color: $grey-col;
    }

    .excerptExplo {
        @include p-very-small;
        color: $grey-col;
    }



    .imageExplo {
        overflow: hidden;
        width: 390px;
        max-height: 390px;
       

        img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
        }
    }

    .imageExplo::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

}



.wrapperExplo {
    width: 60%;
    padding: $dCol;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .boutonWrapperExploration {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include small-button;
        border-top: 1px $black-col-5 solid;
        margin-top: $dCol;
        padding-top: $dCol;

        button {
            @include small-button;
            color: $grey-col;
        }

    }

    .contentWrapperExploration {
        display: flex;

        .titleExplo {

            padding-right: $dCol;
        }

        .excerptExplo {
            padding-left: $dCol;
        }

    }


}


.logo-load {
    height: 14px;
    margin-top: 20px;

}