.contentActualites {
    .archive-actu-bloc {
        display: flex;
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $dCol;
        column-gap:  $dCol;


        .archive-actu-container {
            grid-row: $dCol;
            height: 100%;

            .archive-actu-wrapper {
                padding: $dCol;
                background: $black-col-5;
                display: flex;
        
                .archive-article-thumbnail {
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        object-fit: cover;

                    }
                }

                .archive-article-thumbnail::after {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }

                .archive-article-content-wrapper {
                    padding-left: $dCol;
                    padding-right: $dCol;
            


                    .archive-article-date {
                        padding-top: 20px;
                        @include p-very-small;
                        color: $grey-col;

                    }

                    .archive-article-title {
                        @include p-intro-bold;
                        color: $grey-col;
                        padding-right: 1 * $dCol;
                    }

                    .archive-article-excerpt {
                        @include p-very-small;
                        color: $grey-col;

                    }

                }
            }
        }

        .boutonWrapperArchiveActu {
            padding-left: $dCol;
            padding-right: $dCol;
            margin-top: 20px;
            height: $dCol;

            background-color: $black-col-5;
        }

    }
}