.fauveUnderline {
    @include fauveUnderline;
}

.fauveUnderline:hover {
    @include fauveUnderlineHover;

}


.front-image {
    display: none;
    
}

.link-bloc {

    background-color: $jungle-col-10;
    height: 235px - $dCol;
    padding-top: $dCol;
}

.link-bloc-2 {
    background-color: $jungle-col-10;
    height: 235px - $dCol;
    height: 100%;
}


.logoFrontpage {
    position : fixed;
    height: 100px;
    margin-left: $margin;
    margin-top : $dCol;
}

.pictoNav {
    height: 20px;
    width: 20px;
}


.container-front-page {
    position: relative;

    @include laptopS {
        display: flex;
    }

}



.split-left {

    @include laptopS {
        width: 43.4%;
    }

}


.list-chapter {
    display: none;

    @include laptopS {
        display: block;
    }

    @include chapter;
    color : $grey-col;
    position: fixed;
    bottom: 37px;
    left: $margin;

    a {
        text-decoration: none;
        color: $grey-col;
    }

}

.scroll {
    @include chapter-bold;
    color: $fauve-col;
}



.scroll-off {
    display: none;
}


.deviseOn {
    display: block;
}





.split-right {


    @include laptopS {
        width: 56.6%;
    }


}

.image-wrapper {
    height: 60vh;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -o-object-fit: cover;
        object-fit: cover;

    }
}

.tagline {
    @include p-intro;
    color: $grey-col;
    padding: $dCol;

}

.list-link {
    height: 100%;
    @include menu-link;
    color: $jungle-col;
    padding-right: $dCol;
    padding-left: $dCol;
    padding-bottom: $dCol;

    img {
        margin-right: 20px;
        height: 11px;

    }

    a {
        margin-right: 20px;
        color: $jungle-col;
    }

}


.bloc-haiku {
    height: 235px;
    @include haiku;
    color: white;
    background-color: $jungle-col;
    padding: $dCol;

}

.blocLoop {
    display: flex;

    img {
        width: 50%;
        height: auto;
    }
}


.sec-faire {

    .actu-bloc {
        display: flex;
        min-height: 100%;
        background: $black-col-5;

        .actu-wrapper {
            padding: $dCol;
            width: 50%;
            height: 100%;


            .article-thumbnail {
                position: relative;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;

                }
            }

            .article-thumbnail::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }


            .article-date {
                padding-top: 20px;
                @include p-very-small;
                color: $grey-col;

            }

            .article-title {
                @include p-intro-bold;
                color: $grey-col;
                padding-right: 1 * $dCol;
            }

        }
    }
}

.sec-archiurba {
    .projet-bloc {
        height: 400px;
        display: flex;

        .projet-popup-wrapper {
            position: relative;
            width: 50%;
            height: 100%;

            .projet-thumbnail {
                position: absolute;
                overflow: hidden;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;
                }


            }

            .projet-popup {
                display: none;
                position: absolute;
                z-index: 200;
                background-color: $fauve-col-40;
                top: 150px;
                bottom: 0;
                height: auto;

                padding: $dCol;
                background-color: white;

                a {
                    @include p-intro-bold;
                    color: $grey-col;
                }

                .projet-date {
                    @include p-localisation;
                    color: $grey-col;
                }


                p {
                    @include p-very-small;
                    color: $grey-col;
                }

                .logo-wrapper {
                    padding-top: 5%;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    .logo-readmore {
                        height: 14px;
                    }

                    .logo-close {
                        height: 22px;
                    }

                }




            }



        }



    }

}


.sec-ves {

    .bloc-exploration {
        .thumbnailExplo {
            overflow: hidden;
            height: 550px;

            img {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;
            }
        }


        .preExplorationWrapper {
            background-color: $black-col-5;
            padding: $dCol;

        }

        .explorationWrapper {

            .exploWrapper {
                display: flex;
            }

            padding: $dCol;
            background-color: white;

            a {
                display: flex;

            }

            .boutonWrapperExploration {
                display: flex;
                justify-content:space-between;
                @include small-button;
                border-top: 1px $black-col-5 solid;
                margin-top: $dCol;
                padding-top: $dCol;

                button {
                    @include small-button;
                    color: $grey-col;
                }

            }

            .titleExplo {
                @include p-intro-bold;
                color: $grey-col;
                padding-right: 3 * $dCol;
           
            }

            .excerptExplo {
                @include p-very-small;
                color: $grey-col;
                padding-bottom: 10px;

                a {
                    color: $grey-col;

                }
            }
        }

    }
}


    .sec-footer {
        .bloc-image {
            img {
                overflow: hidden;
                width: 100%;
                height: auto;
            }
        }
    }

