.headerProjetWrapper {
    width: 100%;
    height: 764px;

    .imageWrapper {
            position: absolute;
            overflow: hidden; 
            width: 100%;
            height: 764px; 
           
            img {
              width: 100%;
              height: 100%;
              display: flex;  
              justify-content: center;
              align-items: center;
              object-fit: cover;
            }

    }

    .whiteLayout {
        position: absolute;
        z-index: 1;
        height: 764px;
     
        img {
            width: 100%;
            height: 100%;
            display: flex;  
            justify-content: center;
            align-items: center;
            object-fit: cover;
          }

          .nomenclature-wrapper {
              padding-top: $dCol;
             
          }

          .nomenclature {
              @include small-button;
              color : $grey-col;
              margin-left: $margin;
              position: absolute;
              top: 600px;

              a {
                @include small-button;
                color : $grey-col;
                line-height: 30px;
              }
          }


       
      
    }


}



.contentWrapper {

    padding-top: $dCol;
    padding-left: $dCol;
 

    .titleWrapper {
        padding-bottom: $dCol;

        h1 {
            @include titre-projet;
            color: $grey-col;

        }

        h2 {

            @include p-very-small;
            color: $grey-col;
            text-transform: uppercase;

        }

    }

    .galleryWrapper {
        overflow: hidden;
        width: 100%;
        height: 500px;
        padding-bottom: $dCol;

        img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
        }
    }




    .projetWrapper {
        display: flex;


        .rightColumn {
            width: 60%;
            padding-left: $dCol;
            padding-right: $dCol;

            h2 {
                @include p-bold;
                color: $grey-col;

            }

            h3 {
                @include menu-link;
                text-transform: uppercase;
                color: $jungle-col;
                padding-top: 10px;
                padding-bottom: 15px;
            }


            p {
                @include p-very-small;
                color: $grey-col;

            }
        }

        .leftColumn {
            width: 40%;
            padding-right: $dCol;

            p {
                @include p-very-small
            }

            .boutonWrapperExploration {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                @include small-button;
                border-top: 1px $black-col-5 solid;
                margin-top: $dCol;
                padding-top: $dCol;
        
                button {
                    @include small-button;
                    color: $grey-col;
                }
        
            }


            .cardLink {
                padding-right: $dCol;
                padding-left: $dCol;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-top: 10px;
            }

            .cardLinkJungle {
                background-color: $jungle-col;
                color: $grey-col;
                padding-top: 25px;
                padding-bottom: 25px;
                display: flex;
                justify-content: space-between;





            }

            .cardLinkLight {
                background-color: $jungle-col-10;
                color: $grey-col;


            }



        }

    }

}