.headerArticle {
    background-color: $black-col-5;
    padding-left: $margin;
    padding-top: $dCol;
    padding-bottom: $dCol;
    img {
        height: 100px;
    }

}

.mainArticle {
    background-color: $black-col-5;
    padding-left: $margin;
    display: flex;


    .leftColumnArticle {
        width: 43.4%;
        padding-right: $dCol;

        .article-thumbnail {
            position: relative;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;

            }
        }

        .article-thumbnail::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        .wrapperLinkArticle {
            padding-top: 2%;
            display: flex;
            flex-direction: column;
           
            span {
                color: $grey-col;
                border : 1px solid $grey-col;
                padding-left: $dCol;
                padding-top: 4%;
                padding-bottom :4%;
                margin-bottom: 2%;
            }
        }

        .wrapperLinkArticle {
            margin-top: 3%;
            margin-bottom: $dCol;
            @include p-link;
            color: $grey-col;
            display: flex;
            flex-direction: column;

        }
    
     
    }

    .rightColumnArticle {
        width: 56.6%;
        padding-left: $dCol;
        padding-right:$dCol ;

        .titleArticle {
            @include title_h1;
            color : $grey-col;

        }

        .dateArticle {  
            @include p-very-small;
            color : $grey-col;

        }

        .contentArticle {

            a {
                @include fauveUnderline;
                color : $grey-col;
                }
                
            

            p {
            @include p-very-small;
            color : $grey-col;
            }

        }

        .legendArticle {
            @include footer-legend;

        }


        .imagesArticle {
            padding-top: $margin;
            overflow: hidden;
        

            img {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -o-object-fit: cover;
                object-fit: cover;
        
            }
        }
    

     

    }



}