.projetsLoop {

    padding-top: $margin;
    padding-left: $margin;


    .titleLoop {
        @include menu-link;
        color: $jungle-col;
        padding-top: $dCol;
        padding-bottom: $dCol;
    }

    .loopWrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: $dCol;


        .projectCard {
            font-size: 6px;

            .projectThumbnail {
                overflow: hidden;
                height: 300px;
                width: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;
                }

            }

            .projectTitle {
                padding-top: 8px;
                width: 300px;
                @include p-bold;
                color: $grey-col;

                a {
                    text-decoration: none;
                    color: $grey-col;
                }


            }



        }

    }
}