.sideNavWrapper {
    position: fixed;
    width: 61px;
    height: 100vh;
    bottom: 0;
    right: 0;
    background: #fff;
    padding-top: 140px;
    z-index: 500;
}

.sideNavWrapper .sideNav {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    width: calc(100vh - 170px);
    bottom: 25px;
    left: 30px;
    list-style: none;
    margin: 0;
    padding: 0;


    li {
        display: inline-block;

    }

}

.sideNavWrapper .sideNav a {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
}

.headerWrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 61px;
    height: 85px;
    background-color: #FFF;
    z-index: 700;
}

.menuButton {
    display: block;
    position: absolute;
    width: 60px;
    height: 44px;
    top: 0;
    right: 0;
    text-indent: -9999px;
    pointer-events: auto;
}

.x, .y, .z {
    position: absolute;
    margin: auto;
    left: 20px;
    background-color: $grey-col ;
    height: 3px;
    width: 20px;
    transition: all 0.2s ease-out;
}

.x {
    top: 18px;
}

.y {
    top: 26px;
    height: 5px;
}

.z {
    top: 36px;
}


.searchButton {
    display: block;
    position: absolute;
    width: 60px;
    height: 41px;
    top: 45px;
    right: 0;
    text-indent: -9999px;
    background:  no-repeat 18px 5px;
    background-size: 20px 20px;
}


