body{
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    height: 100vh; 
}


footer {
    display: flex;
    padding-top : $dCol;
    padding-bottom : $dCol;

    @include laptopS {
        width: calc(100vw - 77px);}
        
    }


.devise {
    display: none;
    height: 110px;
    position: fixed;
    top : $margin;
    left: $margin;
} 


.deviseOff {
    display: none;

}

.deviseOn {
    display: block;

}
    
   
.left-container {
    padding-left: $margin;
    width: 43.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .credits {
        @include footer-legend;
        color : $grey-col

    }
    
    .logoWrapper {
        display: flex;
        align-items: flex-end;

        .logo-categorie {
            height: 100px;
        }

        .socialsButtonsWrapper {
            padding-left: 20px;

        .logo-ig {

            height: 30px;
        }
        .logo-in {
            height: 30px;
        }
    }
    }
}
  



.right-container {
    width: 56.6%;
    @include footer-p;
    color : $jungle-col;

    .contact-container {
        @include footer-p-bold
    }

        .adress-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: $dCol;
            padding-bottom: 15px;

            padding-top: 15px ;
            padding-bottom: 15px ;

           

       

        
            .adresse-bold {
                @include footer-p-bold
            }
        }

    .legal {
        @include footer-legend;
        color : $grey-col

    }
}



